@font-face {
    font-family: 'Happy Camper Regular';
    src: url(Happy-Camper-Regular.ttf);
}


html{

    height: 100%;

}


body{

    height: 100%;
    background-color: rebeccapurple;
    margin: 0;

}

#container{

    height: 100%;
    background-color: gold;

}

#topo{

    height: 13%;
    width: 100%;
    background-color: cadetblue;
    display: flex;

}

    #topo-esquerda{

        height: 100%;
        width: 15%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #topo-meio{

        height: 100%;
        width: 60%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #topo-direita{

        height: 100%;
        width: 25%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

    }


#meio{

    height: 77%;
    width: 100%;
    background-color: coral;
    display: flex;

}

    #meio-esquerda{

        height: 100%;
        width: 50%;
        background-color: #F8F9F9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }    

    #meio-direita{

        height: 100%;
        width: 50%;
        background-color: #F8F9F9;
        display: flex;
        justify-content: center;
        align-items: center;

    } 



#baixo{

    height: 10%;
    width: 100%;
    background-color: #69BDC4;

}

#logo{

    height: 55%;

}

#bicho{

    height: 90%;

}

.lblsTopo{

    margin: 15px;
    font-size: 15px;
    color: gray;
    font-family: Arial;

}

.lblsTopo:hover{

    cursor: pointer;
    color:#69BDC4;
    transition: 0.50s;

}

#btnFind{

    height: 50px;
    width: 150px;
    background-color: transparent;
    border: solid 2px #69BDC4;
    border-radius: 25px;
    color:#69BDC4;
    font-size: 15px;
    cursor: pointer;

}

#btnFind:hover{

    background-color: #69BDC4;
    color:#FFFFFF;
    transition: 0.50s;

}

#title{

    font-family: 'Happy Camper Regular';
    color: #69BDC4;
    font-size: 75px;
    letter-spacing: 3px;

}

#txt{

    margin: 15px;
    font-size: 12px;
    font-weight: bolder;
    color: rgb(146, 146, 146);
    font-family: Arial;
    margin: 20px 160px 20px 160px;
    line-height: 25px;

}

.inpts{

    height: 40px;
    width: 270px;
    background-color: #FFFFFF;
    border: solid 2px #69BDC4;
    border-radius: 25px;
    color:#000000;
    font-size: 15px;
    margin: 5px 0px 5px 0px;
    padding-left: 20px;

}

#btnMain{

    height: 50px;
    width: 220px;
    background-color: #ED678E;
    border: solid 0px;
    border-radius: 25px;
    color:#FFFFFF;
    font-size: 15px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;

}

#btnMain:hover{

    background-color: #DE4082;
    transition: 0.50s;

}
